// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$font-body: 'Lato', sans-serif; 
$font-heading: 'Roboto', sans-serif;

//  colours 
$blue: #267CCF;
$white: #fff;
$dark-grey:#828A8D;
$secondary-blue: #017fd5;
$light-grey: #ECECEC;
$orange: #ED7E6A;
$grey: #CCCDD2;
$black:#000;
