$border-width: 10px;

.nav__tabs .nav-link.active::before,
.nav__tabs .nav-link.active::after {
  content: "";
  position: absolute;
  border-left: $border-width solid transparent;
  border-right: $border-width solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -$border-width;
}

.nav__tabs .nav-link.active::before {
  border-top: $border-width solid $blue;
  margin-top: 1px;
}

/* The white fill of the triangle */
.nav__tabs .nav-link.active::after {
  border-top: $border-width solid $white;
  margin-top: -2px;
  z-index: 1;
}


.tab-content {
    position: relative;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block;     
  height: 0;          
}
.tab-content > .active,
.pill-content > .active {
  height: auto;       
} 
